<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go ToDo App</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>

</head>

<body>
    <form hx-put="/tasks" hx-target="#tasks" hx-trigger="submit">
        <input type="text" id="task" name="task" placeholder="Enter your task">
        <button id="submit">Submit</button>
    </form>

    <div id="tasks">

        {{ template "tasks.html" . }}

    </div>
</body>

</html>